<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.ark.core.webview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.App.NoActionBar" />
    </application>
</manifest>